$color-green-light: #66FFE3;
$color-green: #33E5B0;
$color-green-dark: #00B27D;
$color-green-darker: #007F4A;

$color-red: #F17371;
$color-red-light: #F7B0AF;
$color-red-dark: #C61714;

$color-white: #FFF;
$color-off-white: #FCFCFC;

$color-grey-lightest: #EEE;
$color-grey-lighter: #CCC;
$color-grey-light: #AAA;

$color-grey: #7F7F7F;
$color-grey-dark: #5A5A5A;
$color-grey-darker: #404040;
$color-grey-darkest: #323232;

$color-off-black: #1e2022;
$color-black: #000;

$color-grey-outline: lighten($color-grey-dark, 8%);