$spacing-unit:       2.4rem;

$spacing-tiny:  round($spacing-unit / 4);
$spacing-small: round($spacing-unit / 2);
$spacing-medium: $spacing-unit;
$spacing-large: round($spacing-unit * 2);
$spacing-huge:  round($spacing-unit * 4);
