.c-channel {
  &__image {
    border-radius: 1.2rem;
    margin-right: $spacing-small;
    width: 8rem;

    &--small {
      border-radius: 8px;
      margin-right: $spacing-small;
      width: 6rem;
    }

    &--tiny {
      border-radius: 7px;
      margin-right: $spacing-small;
      width: 4.5rem;
    }
  }

  &__name {
    color: #333;
    margin: 0;
    font-weight: bold;
    text-decoration: none;

    &:hover { color: $color-grey-7; }

    &--large { font-size: 2rem; }
  }

  &__subscriber-count {
    color: $color-grey-7;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: left;
  }
}