.c-playlist-scroll-video {
  $hover-color: #ececec;
  $selected-color: #d7d7d7;

  &__container {
    border-bottom: 1px solid $color-grey-A;
    color: $color-grey-3;
    display: flex;
      flex-direction: column;
      align-items: center;
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
    text-decoration: none;
    z-index: 0;

    &:last-child {
      border-bottom: none;
    }

    &:hover { background-color: $hover-color; }

    // Don't use hover colour on currently selected video
    &--current { 
      background-color: $selected-color; 
      
      &:hover { 
        background-color: $selected-color;
      }
    }
  }

  &__image {
    width: 90%;
  }

  &__text-container {
    margin-top: $spacing-small;
    text-align: left;
    width: 90%;
  }
  
  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__uploader {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0;
  }
}