.c-link-text {
  color: $color-grey-5;
  cursor: pointer;
  display: inline-block;
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: bold;
  transition: color 0.1s ease;
  
  &:hover { color: $color-grey-7; }

  &--centered { margin: 0 auto; }
}