.c-likes-bar {
  &__container {
    justify-self: center;
    grid-row: 2;
    width: 22rem;
  
    display: flex;
      flex-direction: column;
  }

  &__values {
    display: flex;
      justify-content: space-around;
  }
}