.c-video-stats__container {
  border-radius: 1.2rem;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 0.9em;
  padding: $spacing-small;
  width: 80%;
}

.c-video-stats {
  &__row {
    display: flex;
      justify-content: flex-start;
    &:not(:last-child) {
      margin-bottom: $spacing-tiny;
    }
  }

  &__icon {
    color: $color-grey-light;
    margin-right: $spacing-tiny;
    width: 2rem;
  }

  &__text {
    color: $color-grey-lighter;
  }
}