.c-channel-tab {
  &__container {
    display: flex;
      align-items: center;
      justify-content: space-between;
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
    text-transform: uppercase;
    width: 45rem;
  }

  &__heading {
    border-bottom: 4px solid transparent;
    color: $color-grey-light;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 0;
    transition: border 0.1s ease,  0.25s ease;

    &:hover {
      border-bottom: 4px solid $color-green;
      color: $color-green;
    }
  }
}