.c-video {
  &__grid {
    display: grid;
      grid-template-columns: [side-start] 25% [side-end main-start] 1fr [main-end];
  }

  &__title {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
}