.c-video {
  &__grid {
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
      justify-items: center;
      column-gap: $spacing-medium;
      row-gap: $spacing-large;
    margin-bottom: $spacing-medium;
  }

  &__title {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-medium;
  }
}