.c-comment__container--reply {
  margin-top: $spacing-medium;
  margin-bottom: $spacing-medium;

  // First reply is below the "Show More/Less" toggle
  &:nth-child(2) {
    margin-top: $spacing-small;
  }

  // Decrease the space below the last reply
  // Last reply might be above a "Load More Comments" button, so check last 2 children
  &:last-child,
  &:nth-last-child(2) {
    margin-bottom: $spacing-tiny;
  }
}

.c-comment {
  &__list {
    margin-left: 9rem;
    margin-top: $spacing-small;
  }

  &__content {
    color: $color-off-white;
    margin-top: $spacing-tiny;
    margin-bottom: $spacing-small;
  }

  &__date {
    color: $color-grey-light;
    font-size: 0.83em;
    font-weight: 600;
    margin-top: 3px;
  }

  &__total {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
  }
}