.c-channel {
  &__box {
    margin-bottom: $spacing-small;
  }

  &__description {
    text-align: left;
  }

  &__image {
    border-radius: 8px;
    margin-right: $spacing-small;
    width: 6rem;

    &--small {
      border-radius: 7px;
      margin-right: $spacing-small;
      width: 4.5rem;
    }

    &--large {
      width: 10rem;
      border-radius: 1rem;
    }
  }

  &__subscriber-count {
    color: $color-grey-light;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0;

    &--large {
      font-size: 1.6rem;
    }
  }
}