.c-playlist-video__list {
  border-top: 1px solid #000;
  height: 70rem;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}

.c-playlist-video__container {
  border-bottom: 1px solid $color-grey-3;
  display: block;
  padding-top: $spacing-medium;
  text-decoration: none;

  &:hover { background-color: $color-grey-E; }
  &:last-child { 
    padding-bottom: 0;
    border-bottom: none;
  }

  &--current { background-color: $color-grey-E; }
}

.c-playlist-video {
  &__title {
    font-size: 1.6rem;
    margin-bottom: 0;
  }

  &__uploader {
    font-weight: normal;
  }
}