.c-header {
  &__container {
    display: flex;
      flex-direction: row;
      align-items: center;
    height: 6.6rem;
  }

  &__logo {
    color: $color-black;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    transition: color 0.1s ease;

    &:hover { color: lighten($color-black, 30) }
  }
}