.c-comments__total {
  text-align: left;
  margin: 2rem auto;
}

.c-comment {
  &--top-level {
    margin-bottom: $spacing-large;
  }
  
  &__container {
    margin-top: $spacing-medium;
    margin-bottom: $spacing-small;
  }

  &__date {
    color: $color-grey-7;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 8px;
  }

  &__likes {
    color: $color-grey-7;
  }

  &__content {
    margin-top: $spacing-tiny;
    margin-bottom: $spacing-small;
  }
}