.c-video-stats__container {
  background-color: #fafafa;
  border: 1px solid $color-grey-9;
  border-radius: 1.2rem;
  box-shadow: $box-shadow-light;
  font-family: $font-primary;
  font-weight: 500;
  font-size: 0.9em;
  padding: $spacing-small;
  text-align: left;
  width: 90%;
}

.c-video-stats {
  &__row {
    display: flex;
      justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: $spacing-tiny;
    }
  }

  &__icon {
    color: $color-grey-5;
    margin-right: $spacing-tiny;
    width: 2rem;
  }

  &__text {
    color: $color-grey-3;
  }
}