.c-playlist-scroll-video {
  $hoverColor: #ececec;
  
  &__list {
    height: 70rem;
    overflow-y: scroll;
    width: 100%;
  }

  &__container {
    border-bottom: 1px solid $color-grey-A;
    color: $color-grey-3;
    display: flex;
      flex-direction: column;
      align-items: center;
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
    text-decoration: none;
    z-index: 0;

    &:last-child {
      border-bottom: none;
    }

    &:hover { background-color: $hoverColor; }

    &--current { background-color: $hoverColor; }
  }

  &__image {
    width: 90%;
  }

  &__text-container {
    margin-top: $spacing-small;
    text-align: left;
    width: 90%;
  }
  
  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__uploader {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0;
  }
}