.c-playlist-scroll-list {
  $spacing-bottom: 5px;
  $playlist-divider: 1px solid $color-grey-outline;

  &__container {
    border-radius: 1rem;
    margin-left: $sidebar-gap;
    overflow: hidden;
    width: 100%;
    z-index: 10;
  }

  &__content {
    text-align: left;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    width: 90%;
    margin: 0 auto;
  }

  &__creator {
    margin-bottom: $spacing-bottom;
  }

  &__header {
    border-bottom: $playlist-divider;
  }

  &__sub-text {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__title {
    margin-bottom: $spacing-bottom;
  }

  &__toggle-previous {
    color: $color-off-white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: $playlist-divider;

    &:hover {
      background-color: $color-grey-dark;
    }
  }

  &__videos {
    max-height: 70rem;
    overflow-y: scroll;
    width: 100%;
  }
}