.c-video-thumbnail {
  &__grid {
    display: grid;
      grid-template-columns: repeat(auto-fit, 30rem);
      justify-content: center;
      column-gap: $spacing-large;
      row-gap: $spacing-large;
    margin-bottom: $spacing-medium;
  }

  &__container {
    display: inline-block;
    width: 30rem;
  }

  &__count {
    background-color: $color-grey-darkest;
    border-radius: 5px;
    color: $color-off-white;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    padding: 5px 0.8rem;
    position: absolute;
      bottom: 1.2rem;
      right: 1rem;
  }

  &__image {
    border: 1px solid transparent;
    border-radius: 8px;
    height: 17rem;
    width: 100%;
    transition: border 0.1s ease;
  }

  &__image-container {
    margin-bottom: $spacing-small;
    position: relative;
  }

  &__index {
    border: 1px solid transparent;
    background-color: $color-grey-darkest;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    color: $color-off-white;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    transition: background-color 0.1s ease, border 0.1s ease;
    padding: 5px 0.8rem;
    position: absolute;
      top: 0px;
      left: 0rem;
  }

  &__link {
    text-decoration: none;

    &:hover {
      .c-video-thumbnail__text {
        color: $color-green;
      }

      .c-video-thumbnail__image {
        border: 1px solid $color-green;
      }

      .c-video-thumbnail__index {
        background-color: $color-green-darker;
        border: 1px solid $color-green;
      }
    }
  }

  &__text {
    color: $color-off-white;
    text-align: left;
    transition: color 0.1s ease;
  }

  &__title {
    font-size: 1.6rem;
    margin-bottom: 5px;
  }
}