:root {
  --progress-bar-percentage: 0%
}

.c-progress-bar__container {
  border: 1px solid $color-grey-C;
  border-radius: 5px;
  height: 1.1rem;
  margin-top: 7px;
  overflow: hidden;
  width: 100%;
}

.c-progress-bar {
  background-color: royalblue;
  border-radius: 2px;
  width: var(--progress-bar-percentage);
  height: 100%;
  transition: width .5s ease;
}