.c-button {
  background-color: $color-grey-dark;
  border: 1px solid $color-grey-outline;
  border-radius: 1rem;
  color: $color-off-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-primary;
  font-size: 1.4rem;
  font-weight: bold;
  height: 4rem;
  position: relative;
  transition: all .2s;
  width: 16rem;

  &:hover {
    color: $color-green;
    transform: translateY(-2px);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
  }

  &--centered { margin: 0 auto; }
}