.c-playlist-scroll-video {
  $selected-color: #666;

  &__container {
    border-bottom: 1px solid $color-grey-dark;
    display: flex;
      flex-direction: column;
      align-items: center;
    padding-top: $spacing-medium;
    padding-bottom: $spacing-medium;
    transition: background-color 0.1s;
    text-decoration: none;
    z-index: 0;

    &:last-child {
      border-bottom: none;
    }

    &:hover { background-color: $color-grey-dark; }

    // Don't use hover colour on currently selected video
    &.is-current { 
      background-color: $selected-color; 
      
      &:hover { 
        background-color: $selected-color;
      }

      & .c-playlist-scroll-video__index {
        background-color: $color-green-darker;
      }
    }
  }

  &__image {
    width: 90%;
  }

  &__text-container {
    color: $color-off-white;
    margin-top: $spacing-small;
    text-align: left;
    width: 90%;
  }
  
  &__title {
    margin-bottom: 5px;
  }

  &__uploader {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__image-container {
    position: relative;
  }

  &__index {
    background-color: $color-grey-darkest;
    border-bottom-right-radius: 5px;
    color: $color-off-white;
    font-size: 1.3rem;
    font-weight: bold;
    display: block;
    padding: 5px 0.8rem;
    position: absolute;
      top: 0px;
      left: 1.2rem;
  }
}