/*------------------------------------*\
  #FORM
\*------------------------------------*/

.c-form {
  &__container {
    font-family: $font-primary;
    margin: 0 auto;
    margin-top: $spacing-medium;
    text-align: left;
    width: 100%;
    max-width: 80rem;

    @include respond(tab-land) { margin-top: $spacing-large; width: 100%; }
  }

  &__group {
    display: flex;
      flex-direction: column;
    margin-bottom: $spacing-medium;
    position: relative;
    width: 100%;

    // Remove margin-bottom for the form group above the submit button
    &:nth-last-of-type(2) { margin-bottom: 0; }

    @include respond(tab-land) { margin-bottom: $spacing-large; }
  }

  &__label {
    color: $color-grey-light;
    position: relative;
      left: 2px;
    transition: all $transition-append;
    order: -1; // position label above input
    opacity: 1;
    font-weight: normal;
  }

  &__input {
    // Inputs are transparent and only have a solid bottom border
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-grey-darker;
    color: $color-grey-lightest;
    font-size: $font-size-normal;
    font-weight: 500;
    line-height: 1.6;
    margin-top: $spacing-smallest;
    transition: color $transition-append;

    @include respond(tab-port) { font-size: 1.8rem; }
    
    &:focus { outline: none; }

    // Expand gradient border on focus or if input has been touched and is invalid
    &:focus + .c-form__border,
    &.is-touched:invalid + .c-form__border {
      transform: scale(1);
    }

    // Red gradient border for invalid inputs
    &.is-touched:invalid + .c-form__border {
      background-color: $color-red;
      background: $gradient-red;
    }
  }

  &__border {
    // Colourful line that expands when an input is clicked
    background-color: $color-green;
    background: $gradient-green;
    height: 2px; width: 100%;
    position: absolute;
      bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition-append;
  }

  &__error {
    // Styles for error text that displays if there are problems logging in
    color: $color-red;
    font-size: $font-size-small;
    font-weight: 500;
    margin: $spacing-medium auto;
    opacity: 0;
    transition: opacity $transition-append;

    &.is-visible { opacity: 1; }
  }

  &__submit {
    margin-top: $spacing-smallest;
  }
}