.c-video-settings {
  &__container {
    display: flex;
    height: 5rem;
    margin-top: $spacing-smallest;
    overflow: hidden;
    width: 80%;
  }

  &__icon-container {
    border: 1px solid transparent;
    cursor: pointer;
    display: flex;
      align-items: center;
      justify-content: center;
    height: 100%;
    margin: 0 auto;
    transition: background-color 0.1s ease, color 0.2s ease;
    width: 33%;

    &:hover { color: $color-green-light; }
    &.is-active { background-color: $color-green-dark; }
  }

  &__icon-container:first-child {
    margin-left: 0;
    
    &.is-active {
      border-left-color: $color-green-dark;
      border-right-color: $color-green-dark;
    }
  }

  &__icon {
    font-size: 2.5rem;
  }
}