.c-form {
  &__container {
    font-family: $font-primary;
    margin: 0 auto;
    margin-top: $spacing-medium;
    text-align: left;
    width: 100%;
    max-width: 80rem;

    @include respond(tab-land) { margin-top: $spacing-large; width: 100%; }
  }

  &__group {
    display: flex;
      flex-direction: column;
    margin-bottom: $spacing-medium;
    position: relative;
    width: 100%;

    &:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    @include respond(tab-land) { margin-bottom: $spacing-large; }
  }

  &__label {
    color: $color-grey-light;
    position: relative;
      left: 2px;
    transition: all $transition-append;
    order: -1; // position above input
    opacity: 1;
  }

  &__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-grey-darker;
    color: $color-grey-lightest;
    font-size: $font-size-normal;
    font-weight: 500;
    line-height: 1.6;
    margin-top: $spacing-smallest;
    transition: color $transition-append;

    @include respond(tab-port) { font-size: 1.8rem; }
    
    &:focus { outline: none; }

    // Expand border on focus or if touched + invalid
    &:focus + .c-form__border,
    &.is-touched:invalid + .c-form__border {
      transform: scale(1);
    }

    // Red border for invalid input
    &.is-touched:invalid + .c-form__border {
      background-color: $color-red;
      background: $gradient-red;
    }
    
    &::-webkit-input-placeholder {
      color: $color-grey-dark;
      letter-spacing: 0.5px;
      line-height: 2.4rem;
      transition: opacity 0.2s ease-in;
    }

    &::-moz-placeholder {
      color: $color-grey;
      letter-spacing: 1px;
      line-height: 2.4rem;
      transition: opacity 0.2s ease-in;
    }

    &:focus::-webkit-input-placeholder { opacity: 0;}
    &:focus::-moz-placeholder { opacity: 0; }
  }

  &__border {
    background-color: $color-green;
    background: $gradient-green;
    height: 2px; width: 100%;
    position: absolute;
      bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform $transition-append;
  }

  &__error {
    color: $color-red;
    font-size: $font-size-small;
    font-weight: 500;
    margin-bottom: $spacing-medium;
    margin-top: $spacing-medium;
    opacity: 0;
    transition: opacity $transition-append;

    &.is-visible { opacity: 1; }

    @include respond(tab-port) { font-size: $font-size-normal; }
  }

  &__submit {
    margin-top: $spacing-smallest;
  }
}