.c-thumbnail {
  &__grid {
    display: grid;
      grid-template-columns: repeat(auto-fit, 30rem);
      justify-content: center;
      gap: $spacing-large;
    margin-bottom: $spacing-medium;
  }

  &__image-container {
    margin-bottom: $spacing-smaller;
    position: relative;
  }

  &__image {
    border: 1px solid transparent;
    border-radius: 0.5em;
    display: block;
    object-fit: cover;
    width: 100%;
  }

  &__label {
    background-color: $color-grey-darkest;
    border-radius: 5px;
    color: $color-off-white;
    font-size: $font-size-small;
    font-weight: bold;
    padding: 5px 0.8rem;
    position: absolute;
  
    &.is-current {
      background-color: var(--color-dark);
    }
  
    &--index {
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      left: 0;
      top: 0;
    }
  
    &--num-videos {
      bottom: 1.2rem;
      right: 1rem;
    }
  }

  &__link {
    text-decoration: none;

    &:hover {
      .c-thumbnail__title { color: var(--color-lighter); }
      .c-thumbnail__published { color: var(--color-light); }
      .c-thumbnail__image { border: 1px solid var(--color-lighter); }
      .c-thumbnail__label { background-color: var(--color-dark); }
    }
  }

  &__text {
    color: $color-off-white;
    width: 100%;
  }

  &__title {
    color: $color-off-white;
  }

  &__published {
    color: $color-grey-lighter;
    font-weight: 500;
    margin-top: 3px;
  }
}