.o-site {
  min-height: 99vh;

  // add spacing between edges of screen & content
  padding: $header-height 0;

  // allow other ELs to position themselves absolutely wrt the site container
  position: relative;
}