// Use for laying out ELs horizontally or vertically with centres aligned
.o-list {
  display: flex;

  &--horizontal {
    align-items: center;
  }

  &--vertical {
    flex-direction: column;
    justify-content: center;
  }
}