$spacing-unit: 1rem;

$spacing-extra-small: $spacing-unit / 2;
$spacing-small: $spacing-unit;
$spacing-medium: $spacing-unit * 2;
$spacing-large: $spacing-unit * 4;
$spacing-extra-large: $spacing-unit * 8;
