.c-comment {
  &__container {
    display: flex;
      flex-direction: row;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__author {
    color: #333;
    font-weight: bold;
    text-decoration: none;
  }

  &__description {
    font-size: 1.6rem;
  }

  &__image {
    border-radius: 1rem;
    margin-right: 1rem;
    width: 8rem;
  }

  &__like-icon {
    color: #777;
    margin-top: 1rem;
  }

  &__published-at {
    margin-left: 5px;
  }

  &__thread {
    margin-bottom: 3rem;
  }
}