.c-channel {
  &__image {
    border-radius: 1.2rem;
    margin-right: 1.4rem;
    width: 8rem;

    &--smaller {
      width: 6rem;
      border-radius: 8px;
    }

    &--small {
      border-radius: 7px;
      width: 5rem;
    }
  }

  &__name {
    color: #333;
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    text-align: left;

    &:hover { color: #777; }

    &--large { font-size: 2rem; }
  }

  &__subscriber-count {
    color: #333;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: left;
  }
}