$gradient-red: linear-gradient(to right, $color-red, $color-red-dark);
$gradient-red-alt: linear-gradient(to right, #E92B5A, #E17076);

$gradient-green: linear-gradient(to right, $color-green, $color-green-dark);
$gradient-green-alt: linear-gradient(to right, #009C16, #70E08D);
$gradient-green-alt-2: linear-gradient(90deg, rgba(0,127,74,1) 0%, rgba(51,229,176,1) 30%, rgba(213,252,234,1) 100%);