$gradient-red: linear-gradient(to right, $color-red, $color-red-dark);
$gradient-red-alt: linear-gradient(to right, #E92B5A, #E17076);
$gradient-red-window: linear-gradient(to top right, #E92B5A, #E17076);
$gradient-green: linear-gradient(to right, $color-green, $color-green-dark);
$gradient-green-alt: linear-gradient(to right, #009C16, #70E08D);
$gradient-green-window: linear-gradient(to top right, #009C16, #70E08D);
$gradient-dark: linear-gradient(to right, $color-off-black, $color-black);