:root {
  --color: #{$color-green};
  --color-light: #{$color-green-light};
  --color-lighter: #{$color-green-lighter};
  --color-lightest: #{$color-green-lightest};
  --color-dark: #{$color-green-dark};
  --color-darker: #{$color-green-darker};
}